@import url("https://fonts.googleapis.com/css?family=Balsamiq+Sans:wght@400;700&display=swap&subset=cyrillic,cyrillic-ext,latin-ext&effect=fire-animation|neon|outline");
.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Balsamiq Sans", cursive;
  background-color: #e1f5fe;
  min-height: 100vh;
  padding: 100px 5px 0;
}
.wrapper{
  text-align: center;
  max-width: 1200px;
  padding: 10px;
}
.contacts{
  &__actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.form{
  &__inputs{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
  }
  &__buttons{
    width: 230px;
  }
  &__heading{
    width: 100%;
  }
}
.error{
  position: absolute;
  background-color: #ff6333;
  z-index: 5;
  top: 20%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #ff6333,
    0 0 50px #ff6333,
    0 0 80px #ff6333;
}